packages/
*.suo
*.csproj.user
Diagnostico/Properties/PublishProfiles/
PortalSeguranca/Properties/PublishProfiles/
*.log
BolsaVerde.sln.DotSettings.user
*.pubxml.user
com-facil-modulo-global.application/bin/
com-facil-modulo-global.application/obj/
com-facil-modulo-global.domain/bin/
com-facil-modulo-global.domain/obj/
com-facil-modulo-global.service/bin/
com-facil-modulo-global.service/obj/
com-facil-modulo-global.infra.data/bin/
com-facil-modulo-global.infra.data/obj/
com-facil-modulo-global.webapi/bin/
com-facil-modulo-global.webapi/obj/
com-facil-modulo-global-teste/bin/
com-facil-modulo-global-teste/obj/
com-facil-modulo-global.infra.crosscutting/bin/
com-facil-modulo-global.infra.crosscutting/obj/
ConsoleApplicationTeste/bin/
ConsoleApplicationTeste/obj/
