<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ModuloGlobal" connectionString="Data Source=ROBSON-PC;Initial Catalog=Banco_ComercioFacil_Modulo_Global;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
    <add name="com_facil_modulo_global_teste.Settings1.ConexaoModuloGlobal"
      connectionString="Data Source=ROBSON-PC;Initial Catalog=Banco_ComercioFacil_Modulo_Global;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>